{# src/GhostSt/CoreBundle/views/Admin/Game/game_day_voting_prototype.html.twig #}

<div class="box remove">
    <div class="col-md-1 button-remove">
        <span data-index="__name__" class="glyphicon glyphicon-remove remove"></span>
    </div>
</div>

<div class="box position">
    <div class="col-md-1 index-__name__">
        <div>{{ form_widget(form.position) }}</div>
    </div>
</div>

<div class="box vote">
    <div class="col-md-1 index-__name__">
        <div>{{ form_widget(form.vote) }}</div>
    </div>
</div>
