{# src/GhostSt/CoreBundle/views/Admin/Game/game_player_prototype.html.twig #}

<div class="row">
    <div class="col-md-3">
        {{ form_label(form.position) }}
    </div>
    <div class="col-md-1">
        {{ form_widget(form.position) }}
    </div>
    <div class="col-md-2">
        {{ form_widget(form.user) }}
    </div>
    <div class="col-md-2">
        {{ form_widget(form.role) }}
    </div>
</div>