/**
 * Stylesheets
 */

.hide {
    display: block;
}

.select2-container {
    width: 100%;
}

div.alert-container {
    position: relative;
    display: inline-block;
}
div.alert-container span {
    font-size: 18px;
    color: #ff7119;
    cursor: pointer;
}
div.alert-container label:hover div.alerts {
    display: block;
}
div.alert-container div.alerts {
    display: none;
    width: 350px;
    position: absolute;
    top: -7px;
    left: 25px;
    border: 2px solid #ff5500;
    border-radius: 20px 0px 0px 20px;
    padding: 5px 5px 5px 15px;
    background: #FFF;
    z-index: 10;
}
div.alert-container div.alerts ul {
    list-style-type: circle;
    list-style-position: inside;
}
div.alert-container div.alerts ul li {
    color: #337ab7;
}
.sonata-ba-content {
}

.sonata-ba-content > div.row {
    margin: 0px 0px 20px;
    background: #FFF;
}

.sonata-ba-content div.button-add {
    margin-top: 20px;
}

.sonata-ba-content > div.row.result div.row {
    padding: 0px 15px 0px 15px;
}

.sonata-ba-content div.players span.remove {
    cursor: pointer;
}

.sonata-ba-content div.players div.panel-body > div.row:not(.button-add):nth-child(even) {
    background: #E6E6E6;
}

.sonata-ba-content div.players div.panel-body > div.row {
    margin-top: 10px;
    padding: 5px 0px 5px 0px;
}

.sonata-ba-content div.days div.title {
    font-size: 20px;
    font-weight: bold;
}
.sonata-ba-content div.days div.title span.remove {
    color: red;
    cursor: pointer;
}

.sonata-ba-content div.days div.col-md-1,
.sonata-ba-content div.days div.col-md-4 {
    padding: 0px 5px 0px 0px;
}

.sonata-ba-content div.days div.head div {
    text-align: center;
}

.sonata-ba-content div.days div.head.title h5 {
    padding: 10px;
}

.sonata-ba-content div.days div.panel-body > div.row {
    margin-top: 10px;
    padding: 5px 0px 5px 0px;
}

.sonata-ba-content div.days div.panel-body > div.row:not(.button-add):nth-child(even) {
    background: #E6E6E6;
}

.sonata-ba-content div.days div.voting div.vote-box {
    margin: 7px;
}

.sonata-ba-content div.button-add span.glyphicon {
    font-size: 14px;
    color: #0380ff;
    cursor: pointer;
}

.sonata-ba-content div.button-remove span.glyphicon {
    font-size: 14px;
    cursor: pointer;
}