/**
 * Stylesheets
 */

.hide {
    display: block;
}

.sonata-ba-content {
}
.sonata-ba-content form > div.row {
    margin: 0px 0px 20px;
    background: #FFF;
}

.sonata-ba-content form > div.row.result  div.row {
    padding: 0px 15px 0px 15px;
}

.sonata-ba-content form div.days div.col-md-1,
.sonata-ba-content form div.days div.col-md-4 {
 padding: 0px 5px 0px 0px;
}

.sonata-ba-content form div.days div.head div {
    text-align: center;
}
