<div class="container">
    <div class="row">
        <div class="logo">
            <a href="{{ path('ghostst_core_front_homepage_view') }}" class="center-block">
                <img src="/image/prime_mafia_logo.jpg" class="center-block"/>
            </a>
        </div>
    </div>
</div>

{% include 'GhostStCoreBundle:Front:menu.html.twig' %}
