<div class="menu wrapper">
    <div class="container">
        <div class="row">
            <div class="collapse navbar-collapse main-menu-navbar" id="main-menu-navbar">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="{{ path('ghostst_core_front_homepage_view') }}">{{ 'views.front.menu.rating'|trans }}</a>
                    </li>
                    <li>
                        <a href="#">{{ 'views.front.menu.statistic'|trans }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
